h1 {
    font-size: 1.5rem;
    text-align: center;
    color: #cf54a6;
    margin: 2rem 0 1rem 0;
    font-weight: normal;
}

h2 {
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    color: #fff;
}

p {
    text-align: center;
    color: #fff;
}